{% extends "base.html.twig" %}

{% block body %}
<div class="container">
   
    <div class="catalog_form">
	<div class="catalog-wrap">
	{% for product in products %}
	    <div class="product">
		<a class="product_edit_button" href="{{ path('edit', { id : product.id }) }}">Edit</a>
		<span class="product_title">{{ product.name }}</span>
		<span class="product_price">{{ product.price }}$</span>
		<a href="{{ path('addToCart', { id : product.id }) }}" class="product_button">Add to Cart</a>
	    </div>
	{% endfor %}
	</div>
    </div>
   
</div>
{% endblock %}
